.nav-menu{
  position: fixed;
  background-color: var(--bg-black-50);
  padding: 0 15px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  &-inner{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    & ul{
      padding: 15px;
      & li{
        display: block;
        text-align: center;
        &:not(:last-child){
          margin-bottom: 20px;
        }
        & a{
          display: inline-block;
          font-size: 28px;
          font-weight: 600;
          padding: 5px 30px;
          color: var(--text-black-700);
          text-transform: capitalize;
          border-radius: 30px;
          transition: all 0.3s ease;
          &:after{
            border-radius: 30px;
          }
          &.active{
            color: var(--skin-color);
          }
        }
      }

    }
  }
  & .close-nav-menu{
    width: 40px;
    height: 40px;
    display: block;
    text-align: center;
    font-size: 35px;
    line-height: 35px;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    right: 0px;
    cursor: pointer;
    color: var(--text-black-600);
    transition: all 0.3s ease;
    &:after{
      border-radius: 50%;
    }
  }
  & .copyright-text{
    position: absolute;
    left: -60px;
    top: 50%;
    font-size: 15px;
    color: var(--text-black-600);
    transform: translateY(-50%) rotate(-90deg);
  }
  &.open{
    visibility: visible;
    opacity: 1;
    z-index: 999;
    transition: all 0.3s ease-in;
  }
  & .menu{
    position: relative;
  }
}