.style-switcher{
  position: fixed;
  top: 77px;
  right: 0;
  padding: 15px;
  width: 200px;
  z-index: 99;
  border-radius: 5px;
  transition: all 0.3s ease;
  transform: translateX(100%);
  &.open{
    transform: translateX(-15px);
  }
  & h4{
    margin: 0 0 10px;
    font-size: 18px;
    color: var(--text-black-700);
    font-weight: 600;
    text-transform: capitalize;
  }
  & .s-icon{
    position: absolute;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    color: var(--text-black-900);
    right: 100%;
    margin-right: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 50%;
    &:after{
      border-radius: 50%;
    }
    & i{
      line-height: 40px;
    }
  }
  & .style-toggler{
    top: 0;
  }
  & .day-night{
    top: 55px;
  }
  & .colors{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    & span{
      display: inline-block;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      cursor: pointer;
    }
    & .color-1{
      background-color: var(--skin-color);
    }
    & .color-2{
      background-color: var(--skin-color1);
    }
    & .color-3{
      background-color: var(--skin-color2);
    }
    & .color-4{
      background-color: var(--skin-color3);
    }
    & .color-5{
      background-color: var(--skin-color4);
    }
  }
}